{% extends "draftcardposter/base.html" %}
{% block title %}Draft card postinator - preview{% endblock %}

{% block content %}
<h1>/r/NFL Draft card postinator</h1>
<p class="lead" role="alert">Look closely before you hit that post button!</p>
{% for kind, msg in msgs %}
<div class="alert alert-{{ kind }}" role="alert">
    {{ msg }}
</div>
{% endfor %}
<form action="{% url 'submit-pick' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="imageurl" value="{{ imageurl }}" />
    <input type="hidden" name="overall" value="{{ overall }}" />
    <button type="submit" class="btn btn-default" disabled=disabled>Submit to /r/{{ settings.subreddit }}!</button>
</form>
<hr />
<h2>{{ reddit_title }}</h2>
<dl>
    <dt>Imgur title</dt>
    <dd>{{ imgur }}</dd>
    <dt>Reddit title</dt>
    <dd>{{ reddit_title }}</dd>
    <dt>Tweet</dt>
    <dd>{{ tweet }}</dd>
    <dt>Live thread</dt>
    <dd>{{ reddit_live }}</dd>
</dl>
<a href="{{ imageurl }}" target="_blank">
<img style="height: 400px" class="img-thumbnail" src="{{ imageurl }}" />
</a>

{# <pre>{% filter force_escape %}{% debug %}{% endfilter%}</pre> #}
{% endblock %}
