{% load static %}
{% load draftcard_extras %}
{% load distance_filters %}
{% with team_location=team|team_location closest_team=p.data|closest_team %}
{% with team_distance=team_location|distance:p.data %}
<!DOCTYPE html>

<html class="{{ team|teamcssclass }}">
    <head>
        <link rel="stylesheet" href="{% static "draftcardposter/plain/styles.css" %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>/r/nfl 2019 Draft Card - {{ firstname }} {{ lastname }}</title>
        <style>
        </style>
    </head>
    <body class="{{ team|teamcssclass }}" data-overall="{{ overall }}">
        <h1>#{{ overall}} {{ firstname }} {{ lastname }}</h1>
        <h2>{{ team.fullname }}</h2>
        <img src="{% static photo %}" />
        <div id="some">
            {% if p.data.twitter %}<div><i class="fab fa-twitter fa-fw" style="color: #00aced"></i> {{ p.data.twitter }}</div>{% endif %}
            {% if p.data.instagram %}<div><i class="fab fa-instagram fa-fw" style="color: #f00075"></i> {{ p.data.instagram }}</div>{% endif %}
            {% if p.data.reddit %}<div><i class="fab fa-reddit-alien fa-fw" style="color: orangered"></i> {{ p.data.reddit }}</div>{% endif %}
        </div>

        <div>{{ position }} &mdash; {{ college }} ({{ round }}.{{ pick }})</div>
        <div>{{ stats.height_in|formatvalue:'height_in' }} &mdash; {{ stats.weight_lbs|formatvalue:'weight_lbs' }}</div>

        <dl>
            {% for type_, stat, value in p.data|order_stats:priorities|remove_non_stats:priorities|deduplicate:"combine,proday,None"|slice:"0:6" %}
            <dt>{{ stat|statname:value }}{% if type_ %} - {{ type_ }}{% endif %}</dt>
            <dd>{{ value|formatvalue:stat }}</dd>
            {% endfor %}
        </dl>

        <div>
            {% if team.short == closest_team.short %}Player is drafted to his closest team{% else %}Player is not drafted to his closest team ({{ closest_team.fullname }}){% endif %}
        </div>
        {% if team.short == closest_team.short and team_distance.miles < 50 %}<div>Hometown alert - grew up {{ team_distance.miles|floatformat:0 }} miles from stadium</div>{% endif %}
    </body>
</html>
{% endwith %}
{% endwith %}
